* {
    background-color: papayawhip;
}
.page-title {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 90px;
    font-weight:900;
    background-color:bisque;
    border-bottom: 5px solid rosybrown;
    color:rosybrown;
    display:flex;
    justify-content:center;
    border-radius: 15px;
}

.draw {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-radius: 50%;
    opacity: 0.75;
}
.recipe-links {
    background-color: rgb(252, 233, 210);
    display:flex;
    justify-content:space-between;
    list-style:none;
    padding: 15px;
    margin-bottom: 70px;
    flex-direction: row;
    }
.recipe-links li {
    font-size: larger;
}

a:hover {
color: rosybrown;
}
a:visited {
    color:rgb(167, 144, 144); 
}
.photo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-radius: 25%;
}
.description {
    text-align: center;
    font-size: 20px;
    font-weight: lighter;
}
.directions .ingredients {
    text-align: left;
    font-size: 35px;
}
.list {
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
}
.directions, .ingredients, .description, .list {
    color: rgb(55, 48, 39);
}

  